<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      Settings
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

//  <img src="assets/img/banner.jpg" />
  <img scr="https://firebasestorage.googleapis.com/v0/b/gothic-larp.appspot.com/o/itemsandmaterials-e1486236242222-400x150.jpg?alt=media&token=a2878e9f-14bd-49e1-ab88-9eb7c9b9d95f">

  <ion-list>
    <ion-list-header>
      Personal Information
    </ion-list-header>

    <ion-item (click)="updateName()">
      <ion-grid>
        <ion-row>
          <ion-col>
            Name
          </ion-col>
          <ion-col text-right *ngIf="userProfile?.playerName">
            {{userProfile?.playerName}}
          </ion-col>
          <ion-col class="placeholder-profile" *ngIf="!userProfile?.firstName">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item (click)="updateEmail()">
      <ion-grid>
        <ion-row>
          <ion-col>
            Email
          </ion-col>
          <ion-col text-right  *ngIf="userProfile?.email">
            {{userProfile?.email}}
          </ion-col>
          <ion-col class="placeholder-profile" *ngIf="!userProfile?.email">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item (click)="updatePassword()">
      <ion-grid>
        <ion-row>
          <ion-col>
            Password
          </ion-col>
          <ion-col text-right  class="placeholder-profile">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
</ion-list>
<div class="spacer" style="width: 100%; height: 5%;"></div>
<ion-list>
  <ion-list-header> Application Settings </ion-list-header>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          Active Character
        </ion-col>
        <ion-col text-right *ngIf="userProfile?.activeCharacterId">
          {{userProfile?.activeCharacter}}
        </ion-col>
        <ion-col class="placeholder-profile"  *ngIf="!userProfile?.activeCharacterId">
          <span>
            Tap here to select.
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

</ion-list>
</ion-content>
