<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
     <ion-title>Welcome Traveler</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="true" style="background: url(https://firebasestorage.googleapis.com/v0/b/gothic-larp.appspot.com/o/aaboran-e1486307145358-400x150.jpg?alt=media&token=62f1c517-9773-4b88-98f6-c31e16e0dd1d) no-repeat center;background-size:cover;"
  class="manual-ios-statusbar-padding">

  <div class="spacer" style="height: 33%;"></div>

  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!signupForm.controls.email.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password" [class.invalid]="!signupForm.controls.password.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!signupForm.valid">
      Create an Account
    </button>
  </form>

    <div class="spacer" style="height: 9%;"></div>
  <div>
    <p class="quote">
      “A bridge of silver wings stretches from the dead ashes of an unforgiving nightmare to the jeweled vision of a life started
      anew.” <br/>
     ― Aberjhani
    </p>

  </div>

</ion-content>
